@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
    @apply text-4xl mb-12 ml-16
}
h2 {
   @apply text-2xl mb-8
}
h3 {
    @apply text-2xl mb-4 font-semibold
}
:root {

}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

.wrapper {
    @apply mx-auto md:px-4 xl:max-w-screen-xl lg:max-w-screen-lg md:max-w-screen-md max-sm:px-4
}
@media not all and (min-width: 768px) {
    .max-sm\:px-4 {
        padding-left: 1rem/* 16px */;
        padding-right: 1rem/* 16px */;
    }
}

@media (min-device-pixel-ratio: 1.5) {
    html, body {
        font-size: 24px;

    }
}


    




